<section>
  <h1 class="headers">Locations</h1>
  {{#each locations}}  
    <article class="events">
      <h2><a href="/locations/{{id}}">{{name}}---{{location}}</a></h2>
    </article>
  {{/each}}
</section>