 <h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<div class="jumbotron">
    <h3>Username : {{user.username}}</h3>
   <h3>First Name : {{user.firstName}}</h3>
     <h3>Last Name : {{user.lastName}}</h3>
    <h3>Bio : </h3> <p>{{user.bio}}</p>
</div> 